<template>
  <div>
    <v-container fluid>
      <v-row justify="center">
        <v-col cols="12">
          <v-row>
            <v-col>
              <v-layout justify-center>
                <v-btn
                  depressed
                  large
                  :disabled="getNewHand.length == 10"
                  color="purple darken-4 draw-btn"
                  class="yellow--text"
                  @click="drawCard"
                >Draw a Card</v-btn>
              </v-layout>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12">
          <v-row>
            <v-col cols="12" xl="2" lg="3" md="4" sm="6" v-for="(c, i) in getNewHand" :key="i">
              <v-card class="mx-auto elevation-5 deck-card" width="220" height="300">
                <v-card-text class="py-0">
                  <v-row>
                    <v-col class align-self="start" cols="12">
                      <p class="display-1 text--primary text-left mb-0">
                        {{c.code.slice(0,1)}}
                        <v-icon
                          :class="{'mb-1': true, 'text--primary': true, 'red--text text--lighten-1': c.code.slice(1) == 'H' || c.code.slice(1) == 'D'}"
                        >
                          {{
                          c.code.slice(1) == 'H' ? 'mdi-cards-heart' :
                          c.code.slice(1) == 'D' ? 'mdi-cards-diamond' :
                          c.code.slice(1) == 'C' ? 'mdi-cards-club' :
                          'mdi-cards-spade'
                          }}
                        </v-icon>
                      </p>
                    </v-col>
                    <v-col cols="12" class="py-9">
                      <h1
                        class="text-center display-4 font-weight-medium black--text"
                      >{{c.value == "10" ? c.value.slice(0,2) : c.value.slice(0,1)}}</h1>
                      <span class="card-code" style="display: none">{{c.code}}</span>
                    </v-col>
                    <v-col align-self="end" cols="12">
                      <p class="display-1 text--primary text-right mb-0">
                        {{c.code.slice(0,1)}}
                        <v-icon
                          :class="{'mb-1': true, 'text--primary': true, 'red--text text--lighten-1': c.code.slice(1) == 'H' || c.code.slice(1) == 'D'}"
                        >
                          {{
                          c.code.slice(1) == 'H' ? 'mdi-cards-heart' :
                          c.code.slice(1) == 'D' ? 'mdi-cards-diamond' :
                          c.code.slice(1) == 'C' ? 'mdi-cards-club' :
                          'mdi-cards-spade'
                          }}
                        </v-icon>
                      </p>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" class="mt-10">
          <v-row>
            <v-col>
              <h1 class="text-center">Rotation Card</h1>
              <v-row justify="center">
                <v-col cols="12" xl="3" lg="3" md="3" sm="3">
                  <v-select
                    width="300"
                    :items="cards"
                    label="Rotation Card"
                    outlined
                    v-model="rotation_card"
                    color="green darken-2"
                    data-cy="select-input"
                  ></v-select>
                </v-col>
              </v-row>
              <v-layout justify-center>
                <v-card
                  class="mx-auto elevation-5 rotation-card"
                  width="220"
                  height="300"
                  v-if="rotation_card"
                >
                  <v-card-text class="py-0">
                    <v-row>
                      <v-col class align-self="start" cols="12">
                        <p class="display-1 text--primary text-left mb-0">
                          {{rotation_card.slice(0,1)}}
                          <v-icon
                            :class="{'mb-1': true, 'text--primary': true, 'red--text text--lighten-1': rotation_card.slice(1) == 'H' || rotation_card.slice(1) == 'D'}"
                          >
                            {{
                            rotation_card.slice(1) == 'H' ? 'mdi-cards-heart' :
                            rotation_card.slice(1) == 'D' ? 'mdi-cards-diamond' :
                            rotation_card.slice(1) == 'C' ? 'mdi-cards-club' :
                            'mdi-cards-spade'
                            }}
                          </v-icon>
                        </p>
                      </v-col>
                      <v-col cols-12 class="py-9">
                        <h1
                          class="text-center display-4 font-weight-medium black--text"
                        >{{rotation_card[0] == '0' ? '10' : rotation_card.slice(0,1)}}</h1>
                        <span class="rotation-card-code" style="display: none">{{rotation_card}}</span>
                      </v-col>
                      <v-col align-self="end" cols="12">
                        <p class="display-1 text--primary text-right mb-0">
                          {{rotation_card.slice(0,1)}}
                          <v-icon
                            :class="{'mb-1': true, 'text--primary': true, 'red--text text--lighten-1': rotation_card.slice(1) == 'H' || rotation_card.slice(1) == 'D'}"
                          >
                            {{
                            rotation_card.slice(1) == 'H' ? 'mdi-cards-heart' :
                            rotation_card.slice(1) == 'D' ? 'mdi-cards-diamond' :
                            rotation_card.slice(1) == 'C' ? 'mdi-cards-club' :
                            'mdi-cards-spade'
                            }}
                          </v-icon>
                        </p>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-layout>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12">
          <v-row>
            <v-col>
              <v-layout justify-center>
                <v-btn
                  depressed
                  large
                  color="purple darken-4"
                  class="yellow--text submit-btn"
                  @click="submitCards"
                >Submit</v-btn>
              </v-layout>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      rotation_card: "",
      cards: [
        "AS",
        "2S",
        "3S",
        "4S",
        "5S",
        "6S",
        "7S",
        "8S",
        "9S",
        "0S",
        "JS",
        "QS",
        "KS",
        "AD",
        "2D",
        "3D",
        "4D",
        "5D",
        "6D",
        "7D",
        "8D",
        "9D",
        "0D",
        "JD",
        "QD",
        "KD",
        "AC",
        "2C",
        "3C",
        "4C",
        "5C",
        "6C",
        "7C",
        "8C",
        "9C",
        "0C",
        "JC",
        "QC",
        "KC",
        "AH",
        "2H",
        "3H",
        "4H",
        "5H",
        "6H",
        "7H",
        "8H",
        "9H",
        "0H",
        "JH",
        "QH",
        "KH"
      ]
    };
  },
  async mounted() {
    await this.setNewDeck();
  },
  computed: {
    ...mapGetters(["getNewDeck", "getNewHand"])
  },
  methods: {
    ...mapActions(["setNewDeck", "setNewPile", "setNewDraw"]),
    async drawCard() {
      await this.setNewDraw(this.getNewDeck.deck_id);
    },
    async submitCards() {
      let rotation_card = {
        rotation_card: this.rotation_card,
        deck_id: this.getNewDeck.deck_id
      };
      if (rotation_card.rotation_card)
        sessionStorage.setItem("rotation_card", JSON.stringify(rotation_card));
      let codes = this.getNewHand.map(_ => _.code);
      codes = codes.join(",");
      let pile_name = `newpile${this.getNewDeck.deck_id}`;
      await this.setNewPile({
        deck_id: this.getNewDeck.deck_id,
        pile_name: pile_name,
        cards: codes
      });
      this.$router.push({
        name: "Piles",
        params: { deck_id: this.getNewDeck.deck_id, pile_name: pile_name }
      });
      await this.setNewDeck();
    }
  }
};
</script>

<style scoped>
.py-9 {
  padding-top: 38px !important;
  padding-bottom: 38px !important;
}

.display-4 {
  font-size: 9rem !important;
}
</style>