<template>
  <div>
    <v-container fluid>
      <v-sheet class="ma-12 pa-6" color="grey lighten-3">
        <v-container fluid>
          <v-row justify="center">
            <v-col cols="12">
              <v-row class="pile-cards">
                <v-col
                  cols="12"
                  xl="2"
                  lg="3"
                  md="4"
                  sm="6"
                  v-for="(c, i) in getHandNewOrder"
                  :key="i"
                >
                  <v-card class="mx-auto elevation-5" width="220" height="300">
                    <v-card-text class="py-0">
                      <v-row>
                        <v-col class align-self="start" cols="12">
                          <p class="display-1 text--primary text-left mb-0">
                            {{c.slice(0,1)}}
                            <v-icon
                              :class="{'mb-1': true, 'text--primary': true, 'red--text text--lighten-1': c.slice(1) == 'H' || c.slice(1) == 'D'}"
                            >
                              {{
                              c.slice(1) == 'H' ? 'mdi-cards-heart' :
                              c.slice(1) == 'D' ? 'mdi-cards-diamond' :
                              c.slice(1) == 'C' ? 'mdi-cards-club' :
                              'mdi-cards-spade'
                              }}
                            </v-icon>
                          </p>
                        </v-col>
                        <v-col cols="12" class="py-9">
                          <h1
                            class="text-center display-4 font-weight-medium black--text"
                          >{{c[0] == '0' ? '10' : c.slice(0,1)}}</h1>
                          <span class="pile-card-code" style="display: none">{{c}}</span>
                        </v-col>
                        <v-col align-self="end" cols="12">
                          <p class="display-1 text--primary text-right mb-0">
                            {{c.slice(0,1)}}
                            <v-icon
                              :class="{'mb-1': true, 'text--primary': true, 'red--text text--lighten-1': c.slice(1) == 'H' || c.slice(1) == 'D'}"
                            >
                              {{
                              c.slice(1) == 'H' ? 'mdi-cards-heart' :
                              c.slice(1) == 'D' ? 'mdi-cards-diamond' :
                              c.slice(1) == 'C' ? 'mdi-cards-club' :
                              'mdi-cards-spade'
                              }}
                            </v-icon>
                          </p>
                        </v-col>
                      </v-row>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-sheet>
      <p class="ml-12 display-1 rotation-card">Rotation Card: {{getRotationCard.rotation_card}}</p>
      <p class="ml-12 display-1 high-card">High Card: {{getHandNewOrder[0]}}</p>
      <p class="ml-12 display-1 full-house">
        Full House Combinations:
        <span
          class="pl-12 ml-12 combinations"
          v-if="combinations != 'None' && combinations.length > 0"
        >
          <ol>
            <li v-for="(c,i) in combinations" :key="i">{{c.join(', ')}}</li>
          </ol>
        </span>
        <span v-else class="no-combinations">{{combinations}}</span>
      </p>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data: () => ({
    rotation_card: "",
    card_order: [
      "2",
      "A",
      "K",
      "Q",
      "J",
      "0",
      "9",
      "8",
      "7",
      "6",
      "5",
      "4",
      "3"
    ],
    suit_order: ["H", "D", "C", "S"],
    test_cards: ["2H", "3H", "2D", "3D", "2C", "3C", "2S"],
    combinations: []
  }),
  async mounted() {
    this.setRotationCard();

    await this.listPile({
      deck_id: this.$route.params.deck_id,
      pile_name: this.$route.params.pile_name
    });

    this.subset(this.getHandNewOrder, 5);
  },
  computed: {
    ...mapGetters([
      "getNewPile",
      "getRotationCard",
      "getHandNewOrder",
      "getFullHouseCombinations"
    ]),
    pileCards() {
      if (this.getNewPile[this.$route.params.pile_name])
        return this.getNewPile[this.$route.params.pile_name].cards;
    }
  },
  methods: {
    ...mapActions(["listPile", "setRotationCard"]),
    subset(arra, arra_size) {
      let combinations = [];
      let self = this;
      let cards = arra.filter(x => x);
      let faces = cards.map(card => self.card_order.indexOf(card.slice(0, -1)));
      /* this creates groups of indexes that may repeat, with that we can validade if we have triples and doubles */
      let groups = self.card_order
        .map((face, i) => faces.filter(j => i === j).length)
        .sort((x, y) => y - x);
      let result_set = [],
        result;
      /* here we validate that, but adding that may have more than triples and doubles */
      if (groups[0] >= 3 && groups[1] >= 2) {
        /* using math.pow, we are creating a new array with the combinations of the cards, and with the length specified before */
        for (var x = 0; x < Math.pow(2, arra.length); x++) {
          result = [];
          let i = arra.length - 1;
          do {
            if ((x & (1 << i)) !== 0) {
              result.push(arra[i]);
            }
          } while (i--);
          /* here we make sure that only combinations with 5 cards will enter the array */
          if (result.length == arra_size) {
            result.sort(function(a, b) {
              return (
                self.card_order.indexOf(a.slice(0, 1)) -
                self.card_order.indexOf(b.slice(0, 1))
              );
            });

            result_set.push(result);
          }
        }
        combinations = result_set;

        let reference = combinations.slice(0);
        /* here we are creating a reference array with only the number of the cards, to check if we have more than one triple and one double */
        for (let comb in combinations) {
          reference[comb] = reference[comb].map(_ => _.slice(0, 1));
        }

        /* here we are couting the repeating indexes, and then after finding a index that repeats more than 3 times, we remove the position from the array  */
        for (let ref in reference) {
          let removed = [];
          let uniques = [...new Set(reference[ref])];
          let count = {};
          reference[ref].forEach(function(i) {
            count[i] = (count[i] || 0) + 1;
          });
          for (let i = 0; i < uniques.length; i++) {
            if (count[uniques[i]] > 3) {
              combinations.splice(ref, 1);
              /*here we are removing from the reference array too so that it has the same positions as the array we are removing, this is to make sure that no wrong position will be removed*/
              reference.splice(ref, 1);
            }
          }
        }
      } else combinations = "None";

      self.combinations = combinations;
      return self.combinations;
    }
  }
};
</script>
<style scoped>
.combinations {
  margin-left: 50px !important;
}
</style>