<template>
  <v-app>
    <v-app-bar app color="green darken-3" dark>
      <v-spacer />
      <v-toolbar-title
        class="yellow--text display-1 font-weight-bold text-uppercase"
      >{{$route.name}}</v-toolbar-title>
      <v-spacer />
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({})
};
</script>
